#red {
    background-color: #ff0000;
    min-height: 60px;
    width: 190px;
}

#blue {
    background-color: #008cff;
    min-height: 60px;
    width: 190px;
}

#yellow {
    background-color: #ffff00;
    min-height: 60px;
    width: 190px;
}

#orange {
    background-color: #FF4500;
    min-height: 60px;
    width: 190px;
}

#purple {
    background-color: #4B0082;
    min-height: 60px;
    width: 190px;
}

#green {
    background-color: #2E8B57;
    min-height: 60px;
    width: 190px;
}

#red-orange {
    background-color: #FF4B33;
    min-height: 60px;
    width: 190px;
}

#yellow-orange {
    background-color: #FF9443;
    min-height: 60px;
    width: 190px;
}

#yellow-green {
    background-color: #CCFF00;
    min-height: 60px;
    width: 190px;
}

#blue-green {
    background-color: #00CEC8;
    min-height: 60px;
    width: 190px;
}

#blue-violet {
    background-color: #8A2BE2;
    min-height: 60px;
    width: 190px;
}

#red-violet {
    background-color: #C71585;
    min-height: 60px;
    width: 190px;
}

#a {
    background-color: #ebe7ff;
    min-height: 60px;
    width: 190px;
}

#b {
    background-color: #d8d4ff;
    min-height: 60px;
    width: 190px;
}

#c {
    background-color: #b5ddff;
    min-height: 60px;
    width: 190px;
}

#d {
    background-color: #c5ffeb;
    min-height: 60px;
    width: 190px;
}

#e {
    background-color: #defff7;
    min-height: 60px;
    width: 190px;
}

#warm-red {
    background-color: #D51e4f;
    min-height: 60px;
    width: 190px;
}

#warm-orange {
    background-color: #e35738;
    min-height: 60px;
    width: 190px;
}

#brown {
    background-color: #5c150a;
    min-height: 60px;
    width: 190px;
}

#idk {
    background-color: #b25716;
    min-height: 60px;
    width: 190px;
}

#burgandy {
    background-color: #b2180b;
    min-height: 60px;
    width: 190px;
}

#bb {
    background-color: #C11C32;
    min-height: 60px;
    width: 190px;
}

#dark-pink {
    background-color: #AB1CC1;
    min-height: 60px;
    width: 190px;
}

#berry {
    background-color: #670067;
    min-height: 60px;
    width: 190px;
}

#g {
    background-color: #84C11C;
    min-height: 60px;
    width: 190px;
}



#bl {
    background-color: #1C84C1;
    min-height: 60px;
    width: 190px;
}



#gh {
    background-color: #87326c;
    min-height: 60px;
    width: 190px;
}


#p {
    background-color: #6C284D;
    min-height: 60px;
    width: 190px;
}

#aj {
    background-color: #6C2856;
    min-height: 60px;
    width: 190px;
}



#ha {
    background-color: #833287;
    min-height: 60px;
    width: 190px;
}




#mul {
    background-color: #C54B8C;
    min-height: 60px;
    width: 190px;
}



#ber {
    background-color: #A63F78;
    min-height: 60px;
    width: 190px;
}


#pur {
    background-color: #943F88;
    min-height: 60px;
    width: 190px;
}

#vi {
    background-color: #A64B92;
    min-height: 60px;
    width: 190px;
}



#har {
    background-color: #7F3364;
    min-height: 60px;
    width: 190px;
}